{% extends "layout.html" %}

{% block title %} Index {% endblock %}


{% block body %}
    <h1>Hi!</h1>

    <form action="/classify" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="file" onchange="readURL(this);"/>
        <input type="submit" value="Classify"/>
    </form>
    <div>
        <img id="img-area" alt="your image" />
    </div>


    {% block scripts %}
        {{ super() }}
        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-area')
                            .attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
    {% endblock %}

{% endblock %}

